.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

.ccc-header {
  color: var(--accent-text-dark);
  font-size: 3rem;
  font-weight: 600;
}

.ccc-subheader {
  /* color: var(--accent-text-dark); */
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.hoverable:hover {
  opacity: 80%;
  cursor: pointer;
}
